body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.navbar {
  background-color: white;
}
.navbar .navbar-brand {
  font-weight: 800;
  font-size: 28px;
}
.navbar .navbar-brand .logo {
  max-width: 48px;
}
.navbar .navbar-brand .icon .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}
.navbar .navbar-brand .navbar-toggler {
  color: black;
  border: none;
}
.navbar .navbar-collapse .navbar-nav .nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #232631;
}
.navbar .navbar-collapse .authentications .btn {
  border-radius: 20px;
}

.navbar-dashboard .navbar-brand .icon .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -1px;
}
.navbar-dashboard .dropdown .dropdown-toggle img {
  width: 28px;
}
.navbar-dashboard .dropdown .dropdown-toggle::after {
  color: black;
}
.navbar-dashboard .navbar-collapse .navbar-nav .nav-item a {
  font-weight: normal;
}
.navbar-dashboard .navbar-collapse .right .nav-item a i {
  font-size: 18px;
}
.navbar-dashboard .navbar-collapse .right .nav-item a img {
  width: 28px;
}

.subnavbar {
  margin-top: 80px;
  padding: 10px 0;
}
.subnavbar .category-list .category {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
.subnavbar form span {
  border: none;
}
.subnavbar form input {
  border: none;
}

footer {
  margin: 100px 0;
}
footer .left .title {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 50px;
}
footer .left .medsos .list-medsos {
  margin-left: -24px;
}
footer .left .medsos .list-medsos i {
  font-size: 25px;
}
footer .left .copyright {
  font-weight: 300;
  font-size: 18px;
}
footer .right a {
  text-decoration: none;
  color: black;
}
footer .right .title {
  font-weight: 600;
  font-size: 20px;
}
footer .right .item {
  font-size: 18px;
  font-weight: 400;
}

.auth-page {
  margin-top: 50px;
}
.auth-page .card {
  border: none;
  border-radius: 20px;
}
.auth-page .card .card-body .card-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.auth-page .card .card-body .contact-me {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}
.auth-page .card .card-body .register {
  font-weight: 400;
}
.auth-page .card .card-body .register a {
  font-weight: 100;
}

.home-page .headline .title {
  font-weight: 700;
  font-size: 32px;
}
.home-page .headline .side {
  margin-top: 45px;
}
.home-page .headline .side .info {
  color: #999999;
  font-size: 14px;
}
.home-page .headline .side .title {
  font-weight: 700;
  font-size: 32px;
}
.home-page .headline .side .summary {
  font-weight: 300;
  font-size: 16px;
  color: #797777;
}
.home-page .headline .side a {
  text-decoration: none;
  font-weight: 600;
}
.home-page .group .title {
  font-weight: 700;
  font-size: 32px;
}
.home-page .group .card {
  border: none;
  border-radius: 30px;
}
.home-page .group .card img {
  border-radius: 20px 20px 0 0;
}
.home-page .group .card .date {
  margin-top: 20px;
  color: #999999;
  font-size: 14px;
}
.home-page .group .card .title {
  font-weight: 600;
  font-size: 18px;
}
.home-page .group .card a {
  text-decoration: none;
  font-weight: 600;
}

.page-detail .breadcrumb-nav {
  margin-top: 50px;
}
.page-detail .breadcrumb-nav ol li {
  font-weight: 500;
  font-size: 18px;
}
.page-detail .breadcrumb-nav ol li a {
  text-decoration: none;
  font-weight: 500;
}
.page-detail .title {
  font-size: 32px;
  font-weight: bold;
}
.page-detail .info {
  font-size: 18px;
  font-weight: 500;
}
.page-detail .writer {
  font-size: 18px;
  font-weight: 500;
}
.page-detail .description {
  font-size: 18px;
}
.page-detail .description h3 {
  color: black;
  font-size: 32px;
}
.page-detail .tags {
  margin-bottom: 40px;
}
.page-detail .tags h4 {
  margin-bottom: 20px;
}

.dashboard {
  background-color: rgba(233, 236, 239, 0.2470588235);
}
.dashboard .content .left {
  margin-left: -90px;
  max-width: 75px;
  min-width: 75px;
  height: 70vh;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
.dashboard .content .left.active {
  margin-left: 0;
}
.dashboard .content .left a {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
.dashboard .content .left a i {
  color: black;
  font-size: 18px;
  margin-left: 2px;
}
.dashboard .content .left a:hover, .dashboard .content .left a.active {
  background-color: rgb(255, 255, 255);
}
.dashboard .content .right {
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  .dashboard .content .left {
    margin-left: 0;
  }
  .dashboard .content .right {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */