.dashboard {
  background-color: #e9ecef3f;
    .content {
        .left {
            margin-left: -90px;
            max-width: 75px;
            min-width: 75px;
            height: 70vh;
            position: sticky;
            top: 80px;
            &.active {
              margin-left: 0;
            }

            a {
              margin: 10px 0;
              padding: 10px;
              border-radius: 10px;
              i {
                color: black;
                font-size: 18px;
                margin-left: 2px;
              }  

              &:hover,
              &.active {
                background-color: rgb(255, 255, 255);
              }
            }
        }

        .right {
          margin-left: 10px;
        }
        @media only screen and (min-width: 768px) {
            .left {
                margin-left: 0;
            }

            .right {
                width: 100%;
            }
        }
    }
}
